.chat {
    flex-basis: 15%;
    max-height: 83%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat-page {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: scroll;
    white-space: pre-wrap;
}

.messages {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 5px;
}

.message {
    overflow-wrap: break-word;
    word-break: break-all;
    margin: 1px 0;
}

.sent-msg {
    color: #0077CC;
}

.received-msg {
    color: #058f2a;
}

#chat-msg-form {
    display: flex;
    margin: 2px 4px;
}

.text-area {
    resize: none;
    font-size: 1.2rem;
}

.send-msg-btn {
  background-image: linear-gradient(#6eb5eb, #479ce2);
  border: 1px solid #0077CC;
  height: 55px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: -.022em;
  line-height: 1.47059;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  align-self: center;
  white-space: nowrap;
}

@media screen and (max-width: 1330px) {
    .chat {
        max-height: 60%;
        order: 3;
        flex-basis: 65%;
    }

    #chat-msg-form {
        justify-content: center;
    }

    .messages {
        display: block;
    }

    .text-area {
        height: 55px;
        align-self: flex-end;
        width: 100%;
    }

    .send-msg-btn {
        align-self: flex-end;
    }
}