.online-users {
    flex-basis: 15%;
    background-color: white;
    height: 80%;
}

.online-user {
    font-size: 1.1rem;
    color: cornflowerblue;
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}