@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.room {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    text-align: center;
    align-content: flex-start;
    /* align-content: space-between; */
}