@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.room {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    text-align: center;
    /* align-content: flex-start; */
    /* align-content: space-between; */
}

@media screen and (max-width: 1330px) {
 /* .room :nth-child(3) { order: 4; flex-basis: 100%;} */
 /* .room :nth-child(2) { order: 2; flex-basis: 35%;} */
 /* .room :nth-child(4) { order: 3; flex-basis: 65%;} */
 .room :nth-child(5) { order: 5;}
}