.whiteboard {
    flex-grow: 1;
    flex-basis: 53%;
    max-height: 83%;
    min-height: 83%;
    /* padding: 2px; */
    background-color: white;
}

#canvas {
    border: 2px solid red;
    display: flex;
    margin: auto;
    /* width: 100%;
    height: 100%; */
}

#circle {
    position: fixed;
    z-index: 5;
    background-color: white;
    border: 1px solid black;
    /* border-radius: 50%; */
    pointer-events: none;
    transition: background ease-in 10ms, box-shadow ease-in 150ms, transform ease-in 150ms;
    transform: translate3d(0, 0, 0);
}

.eraser-cursor {
    cursor: none;
}

@media screen and (max-width: 1330px) {
    .whiteboard { order: 4; flex-basis: 100%;}
}

